/* 
   
    Author     : james
*/


/*ID*/
#tiuloPrincipal {
    margin-left: 25em;
}

#jamesGonzalez{
    margin-left: 56.5em;
}

#abrirArchivo {
    margin-left: 5em;
}

#analizar{
    margin-left: 41.2em;
}

#botonBuscarPalabra{
    margin-left: 3em;
}

#inputPalabraBuscar{
    margin-left: 2m;

}

#primerTextArea{
    margin-left: 5em;
}

#segundoTextArea{
    margin-left: 3em;
    
}

#opcionDescargar{
    margin-left: 54.5em;
}
/*TAGS*/
textArea{
    height: 50em;
    width: 65em; 
    resize: none;
}


